#He {
    background-color: red;
    color: lime;
}
body {
    background-image: url(rat.gif);
    color: white;
}
#info {
    font-family: sans-serif;
    color: white;
}
#General{
    color: red;
    background-color: green;
}

h3{
    font-family: sans-serif;
    color: white;
}